<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=titulo%></title>
  </head>
  <body>
    <h1><%=titulo%></h1>
      <h1>CONTENIDO PAGINA PRINCIPAL</h1>
      
  </body>
</html>
